<h1 class="sidebar11">Listing products</h1>

<!-- create form search --> 

<!-- /end create form -->
	<% #@products.each do |product|%>
	<% if !@products.blank? %>
	<% for product in @products %>
	    <div class="product_detail1">
			<div class="pimage">
		 		<%= image_tag(product.image_url, class: 'img', :size => '160x160') %>  
			</div>
			<div class="pdetail1">
				<div class="pname">
					<%= product.name %>
				</div>
			<div class="pprice">
				$<%= product.price %>
			</div>
			<div class="plink">
				<%= link_to 'Show', product %>
			</div>
			</div>	
		</div><!-- /product_detail -->
	 <% end %>
	<% else %>
	  <%= render :nothing=>true%>
	<% end %>
