<div class="product_detail">
	<div class="pimage">
		<%= image_tag(@product.image_url, :class => 'img-rounded', :size => '160x160')%>
	</div>
	<div class="pdetail">
		<div class="pname">
			Name: <%= @product.name %>
		</div>
		<div class="pprice">
			$<%= @product.price %>
		</div>
		<div class="pdes">
			<%= @product.description %>
		</div>
		<div class="plink">
			<%= link_to 'Back product list', products_path %>
		</div>
	</div>
</div>